*{
    margin: 0;
    padding: 0;
	
}

#elemento{
	margin: 10px,0px,0px,0px;
	text-align: center;
	padding: 20px;
	color: rgb(187, 218, 226);
	
}
#elemento:hover{
	color: rgb(128, 182, 185);
}

#elemento1{
	padding: 20px;
	text-align: center;
	color: rgb(187, 218, 226);
}
#elemento1:hover{
	color: rgb(128, 182, 185);
}

li{
	color: rgb(14, 13, 13);
	margin-left: 5%;
}
.sp{
	margin:10px;
	display: flex;
    background-color: rgb(128, 182, 185);
    height: 60px;
    width: 80px;
    align-items: center;
    flex-direction: row;
	
	float: left;
	border-radius: 5px;
    justify-content: center;
    align-items: center;
	border-radius: 7px;
	
	border-color: rgb(128, 182, 185);
}
.sp1{
	margin:10px;
	display: flex;
    background-color: rgb(128, 182, 185);
    height: 60px;
    width: 80px;
    align-items: center;
    flex-direction: row;
	
	float: left;
	border-radius: 5px;
    justify-content: center;
    align-items: center;
	border-radius: 7px;
	
	
}
.sp2{
	margin:10px;
	display: flex;
    background-color: rgb(128, 182, 185);
    height: 60px;
    width: 80px;
    align-items: center;
    flex-direction: row;
	
	float: left;
	border-radius: 5px;
    justify-content: center;
    align-items: center;
	border-radius: 7px;
}

.sp3{
	margin:10px;
	display: flex;
    background-color: rgb(128, 182, 185);
    height: 60px;
    width: 80px;
    align-items: center;
    flex-direction: column;
	
	float: left;
	border-radius: 5px;
    justify-content: center;
    align-items: center;
	border-radius: 7px;
}
video{
	padding: 30px;
	margin-left: 0;
	align-items: center;
	width: 60%;
	
}
.sp4{
	margin:10px;
	display: flex;
    background-color: rgb(128, 182, 185);
    height: 60px;
    width: 80px;
    align-items: center;
    flex-direction: column;
	
	float: left;
	border-radius: 5px;
    justify-content: center;
    align-items: center;
	border-radius: 7px;
}
header{
	
	color: aliceblue;
	background-color: rgb(187, 218, 226);
	border-radius: 5px;
	width: 100%;
	text-align: center;
	height: 80px;
	border-style: solid;
	border-width: 0PX 0px 3px 0px;
}/*
aside{
	margin-left: 0%;
	margin-right: 60%;
	background-color: rgb(45, 221, 206);
	height: 600px;
	width: 30%;}*/
	

.m{
	
	display: flex;
	text-align: center;
	margin-left: 0%;
	margin-right: 60%;
	background-color: rgb(187, 218, 226);
	height: 855px;
	border-top-width: 20px;
	border-color: rgb(240, 248, 255);
	width: 20%;
	border-width: 0PX 3px 0px 0px;
	border-style: solid;
	flex-direction: column;
	align-items: center;
	

}

.mitad{
	display: flex;
    height: 750px;
    width: 600px;
   align-items: center;
    flex-direction: column;
	margin: 40px 130px 0px 10px;
	float: right;
	border-radius: 5px;
    /*justify-content: center;*/
    align-items: left;
	border-width: 0PX 1px 0px 0px;
    border-color: rgb(187, 218, 226);
	border-width: 2PX;
	border-style: solid;	
	
}
.mitad2{
	display: flex;
    
    height: 750px;
    width: 600px;
   
    flex-direction: column;
	margin: 40px 40px 0px 0px;
	float: RIGHT;
	border-radius: 5px;
    /*justify-content: center;*/
    align-items: left;
	border-width: 0PX 1px 0px 0px;
    border-color: rgb(187, 218, 226);
	border-width: 2PX;
	border-style: solid;	
}

body{
	background-color: rgb(255, 255, 255);
}

.Sub{
	text-align: center;
	display: flex;
   margin:  30PX 0PX 0px 0px;
    height: 50px;
    width: 80%;
   
    flex-direction: column;
	
	float: center;
    align-items: center;
	border-width: 5PX;
	font-style: italic;
	
}
.ft{
	border-radius: 15px;
	display: flex;
    
    height: 200px;
  
    flex-direction: column;
	
	float:left;
	border-radius: 15px;
    align-items: left;
	border-width: 0PX 1px 0px 0px;
    border-color: rgb(187, 218, 226);
	border-width: 3PX;
	border-style: solid;
	
}
.presentacion{
	display: flex;
    
    height: 300px;
    width: 80%;
   
    flex-direction: column;
	margin: 30px;
	float: center;
    align-items: left;
	border-width: 5PX;
	font-style: italic;

}
